body {
padding: 30px;
background-color: rgb(209, 207, 213); 
}
#main-section {
display: flex;
border: 1px, solid, rgb(215, 188, 225);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 16px;        /* Tamaño de letra uniforme */
color: #000000;         /* Color de texto uniforme (gris oscuro) */
text-align: justify;
}
h1{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #000000; 
border-bottom: 2px solid black;
font-weight: bold;
text-align: center;
}
@media (max-width: 768px) {
    
 .navbar-nav {
    flex-direction: column; 
    text-align: center; 
}
code {
color: grey; 
font-weight: bold; 
}
// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";