.menu{
padding: 20px;
}

.titulo h1, .subtitulo h2 {
    margin: 0;
    padding: 0;
  }

.contenedor-titulo {
height: 100vh;
background-image: url(./SRC/fondo.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
}

text {
    font-family: Arial, sans-serif;
    font-size: 40px;
    fill: blueviolet;
    font-weight: bold;
  }

}
.subtitulo {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end; 
position: absolute;
left: 0;
right: 0;
bottom: 20px;
color: aquamarine;
}

.subtitulo .a{
font-size: 24px;
font-weight: bold;left: 5%;
text-align: left;
justify-content: space-between
}
.subtitulo .b {
font-size: 24px;
font-weight: bold;text-align: right;
justify-content: space-between
}

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";