body {
  background-color: #020202; /* Puedes cambiar este color según tu preferencia */
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
padding: 10px;
background-color: rgb(174, 164, 209);
border: none;
box-shadow: none;
outline: none; 
}

.container-fluid {
background-color:rgb(174, 164, 209);
border: none;
box-shadow: none;
outline: none;
}

.navbar-nav{
border: none;
box-shadow: none;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 25px;
}

.navbarNavAltMarkup {
background-color: rgb(37, 36, 36);
border: none;
box-shadow: none;
outline: none;
}

.contenedor-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.imagen img {
display: flex;
justify-content: center;
margin-top: 20px; 
margin-bottom: 50px;
width: 100%; 
height: auto;
}

text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 75px;
  fill: rgb(174, 164, 209);
  font-weight: bold;
  justify-content: center;
  position: absolute;
  top: 7px;;
}
.subtitulo {
display: flex;
bottom: 20px;
width: 100%;
flex-direction: column;
justify-content: space-between;
padding: 10px;
color: white;
margin-bottom: 20px;
}
.subtitulo .a, .subtitulo .b {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.subtitulo .a  {
  text-align: left; 

}
.subtitulo .b {
  text-align: right;

}

footer {
  height: 100px;
  background-image: url(./SRC/footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  filter: opacity(0.9);
}

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";